h1,
h2 {

	text-align: center;
}

.clear{
	clear:both;
}

#container{
	width:70%;
	float: left;
}

aside{
	width: 30%;
	float:left;
	border: 1px solid black;
	box-sizing: border-box;
}

table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 50%;
	margin: auto;
}

table td,
th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even) {
	background-color: #f2f2f2;
}

table tr:hover {
	background-color: #ddd;
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #4CAF50;
	color: white;
}

.hidden {
	display: none;
}

.show {
	display: block;
}