/*######################
	Main elements
#######################*/
html, body {
    margin: 0;
    padding: 0;
	border: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1,
h2 {
	text-align: center;
}
aside, main {
    position: absolute;
}
aside {
    width: 250px;
    background: #00699A;
    color: #fff;
    z-index: -2;
    text-align: center;
	height: 100vh;
	overflow: scroll; 
}
main {
    left: 0px;
    width: 100%;
    height: 100vh;
    background: white;
	z-index: -1;
	overflow: scroll;
}
/*######################
	close & open sidebar
#######################*/
#closeSidebarButton{
	background-color: rgba(0,0,0,0);
	border: none;
	margin-left: 180px;
}
#closeSidebarButton i{
	font-size:48px;
	color: white
}
/*######################
	logo name + img
#######################*/
#logoImage{
	margin-top: 10px;
	font-size: 100px;
	color:white
}
#textLogo{
	margin-top: 0px;
	margin-bottom: 30px;
}
/*######################
	Searched Jobs
#######################*/
#submit-number{
    color: white;
	background: linear-gradient(to bottom,#06769f 0,#06769f 100%);
	border: 1px solid #06769f;
	border-bottom: 1px solid #045573;
    border-radius: 4px;
}
#search-for-jobs{
	width: 90%;
	margin-left: 5%;
}
#search-for-jobs input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	width: 77%;
  }
  
#search-for-jobs #searchJobButton{
	padding: 6px 12.16px;
    margin-left: -4px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
	
}
#output-searched-jobs{
	width: 90%;
	margin-left: 5%;
}
#output-searched-jobs a{
	background-color: #D9EDF7;
    color: black;
    padding: 5px 0;
    padding-left: 15px;
    width: calc(100% - 15px);
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
}

/*######################
	Clear jobs
#######################*/
#clear{
    color: black;
	background: linear-gradient(to bottom, orange 0, orange 100%);
	border: 1px solid orange;
	border-bottom: 1px solid #045573;
    border-radius: 4px;
}

/*######################
	Category List
#######################*/
#categoryUl{
	display:none;
	padding: 0;
}
#categoryUl li{
	list-style: square;
}
#categoryUl a {
	text-decoration: none;
	color: #ffffff;
	line-height: 1.5;
}
/*######################
	topBar
#######################*/
.topBar{
	height: 51px;
	width: 100%;
	background-color: orange;
	text-align: center;
}
#openSidebarButton{
	position: absolute;
	left: 0;
	background-color: rgba(0,0,0,0);
	border: none;
}

#openSidebarButton i{
	font-size:48px;
	color: white;
}
.ss-main{
	width: 125px;
}
/*######################
   share-url dropdowns
#######################*/
summary {
	margin: 5px 10px;
	padding: 5px;
	display: inline-block;
    color: white;
	background: linear-gradient(to bottom,#06769f 0,#06769f 100%);
	border: 1px solid #06769f;
	border-bottom: 1px solid #045573;
	border-bottom: 1px solid #045573;
    border-radius: 4px;
}

.copy-url-button {
	position: relative;
}

.details-inner-container {
	display: flex;
	margin: 5px 10px;
	position: absolute;
	border: 1px solid #dddddd;
}

.ad-url, .copy-url {
	border: none;
	padding: 5px;
}

.copy-url {
    color: white;
	background: linear-gradient(to bottom,#06769f 0,#06769f 100%);
	border: 1px solid #06769f;
	border-bottom: 1px solid #045573;
    border-radius: 4px;
}

details input {
	width: 300px;
}

.copy-url {
	-webkit-appearance: none;
}

details summary::-webkit-details-marker { 
	display: none; 
}
/*######################
	Display jobcards
#######################*/
.containerJobs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.jobCard{
    background: #D9EDF7;
    color: black;
    padding: 30px;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
}
.jobCard button{
	color: white;
	background: linear-gradient(to bottom,#06769f 0,#06769f 100%);
	border: 1px solid #06769f;
	border-bottom: 1px solid #045573;
	font-weight: 600;
    font-size: 13px;
	padding: 9px 20px 10px;
	cursor: pointer;
	border-radius: 4px;
}
.jobCard button:hover{
	background: #258fb5;
}
/*######################
	single-view
#######################*/
#single-view .button-container {
	display: flex;
}

#back {
	margin: 5px;
	-webkit-appearance: none;
	color: white;
	background: linear-gradient(to bottom,#06769f 0,#06769f 100%);
	border: 1px solid #06769f;
    border-bottom: 1px solid #045573;
    border-radius: 4px;
}
#saveJobAdButton{
    color: white;
	background: linear-gradient(to bottom,#06769f 0,#06769f 100%);
	border: 1px solid #06769f;
    border-bottom: 1px solid #045573;
    border-radius: 4px;
    
}
/*######################
	Pagination
#######################*/
.pagination{
	width: 500px;
	margin: 10px auto;
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.pagination-link {
	margin: 0px 10px;
	cursor: pointer;
}

.button-input-container {
	width: 100%;
}
/*######################
	hide and show
#######################*/
.hidden {
	display: none;
}
/*######################
	Desktop view
#######################*/
@media screen and (min-width: 800px) {
    aside{
        z-index: -1;
    }
    main{
        margin-left: 250px;
        width: calc(100% - 250px);
    }
    #openSidebarButton, #closeSidebarButton{
        display: none;
	}
	.topBar{
		background: orange; 
	}
}