h1,
h2 {
	text-align: center;
}

.clear {
	clear: both;
}

#container {
	width: 70%;
	clear:both;
}

#container {
	width:70%;
	float: left;
}

aside {
	width: 30%;
	float:left;
	border: 1px solid black;
	box-sizing: border-box;
	text-align: center;
}

.hidden {
	display: none;
}

details {
	display: inline-block;
}

summary {
	padding: 5px;
	border: 1px solid #dddddd;
	border-radius: 0.25rem;
}

details summary::-webkit-details-marker { 
	display: none; 
}